.ActionBox
    width 100%
    border 1px solid pink

    .ActionBoxTaskBox
        display flex
        justify-content space-between
        height 50px

        div
            text-align center
            border 1px solid blue
            width 100px
