@import "variables"

.ActionBox
    width 100%
    border-bottom 1px solid $border-color

    .ActionBoxTaskBox
        display flex
        justify-content space-between
        height 50px

        div
            text-align center
            width 100px
