.Email

    .Subject
        padding 10px
        font-weight bold
        height 30px
        line-height 30px
        border-bottom 1px solid #ccc
        overflow hidden

    .ToFromDate
        padding 10px
        height 20px
        font-size 0.9em
        border-bottom 1px solid #ccc

        .from
            float left
        
        .sep
            float left
            margin-left 5px

        .to
            float left
            margin-left 5px

        .date 
            float right

    .Body
        padding 10px
