$font-family = 'Source Code Pro', sans-serif;

$max-width = 800px

$background-color = #000000
$border-color = #ccc

$text-color = #AAAAAA
$text-color-important = #FFFFFF
$text-color-highlight = #228BC4
$meta-color = #24D5E2
$meta-color-seen = #06989A
