@import "variables"

.ActionBox
    width 100%
    border-bottom 1px solid $border-color

    .Logo
        background-image url(/graphics/pony.png)
        width 55px
        height 50px

    .ActionBoxTaskBox
        display flex
        justify-content space-between
        height 50px

        div
            text-align center
