@import "variables"

.TaskView

    .Subject
        padding 10px
        font-weight bold
        line-height 30px
        border-bottom 1px solid #ccc
        color $text-color-important

    .ToFromDate
        padding 10px
        height 20px
        font-size 0.9em
        border-bottom 1px solid #ccc

        .from
            color $text-color-highlight
            float left
        
        .sep
            float left
            margin-left 5px

        .to
            color $text-color-highlight
            float left
            margin-left 5px

        .date 
            float right

    .Body
        padding 10px
