$font-family = 'Ubuntu Mono', sans-serif;

$max-width = 800px

$background-color = #000000
$border-color = #ccc

$text-color = #AAAAAA
$text-color-important = #FFFFFF
$text-color-highlight = #228BC4
$meta-color = #24D5E2
$meta-color-seen = #06989A

body
    border 0
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color $background-color
    color $text-color
    max-width $max-width 
    margin auto
    font-family $font-family
    font-weight 400
    font-size 18px

#app
    height 100%
    .TaskBoxApp
        height 100%
        display flex
        flex-direction column

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input, textarea, .contentselectable {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

::-webkit-scrollbar 
    width 8px

::-webkit-scrollbar-corner
    display: none

::-webkit-scrollbar-resizer
    display: none

