$top = 60px
$bottom = 60px
$width = 300px

.FlyoutSidebar
    position fixed
    top $top
    left 0

    .innerAnimated
        .shader
            position fixed
            top $top
            left 0
            bottom 0
            z-index 999 
            background-color rgba(0,0,0,0.5)

        .content
            position fixed
            top $top
            right 0
            bottom 0
            z-index 999 
            min-width $width 
            background-color white

    .innerBasic
        position fixed
        top $top
        left 0
        right 0
        bottom 0
        z-index 999 
        display flex

        .shader
            flex auto
            background-color rgba(0,0,0,0.5)

        .content
            width $width
            background-color white
