.Header
    border-bottom 1px solid blue

    .Logo
        width 60px
        height 55px
        margin-top 5px

    .screenLinks
        .screenLink
            float right
            width 50px
            height 60px

