.Header
    border-bottom 1px solid blue
    height 60px
    flex-shrink 0

    .Logo
        width 60px
        height 55px
        margin-top 5px
        cursor pointer

    .screenLinks
        .screenLink
            float right
            width 50px
            height 60px
            cursor pointer

