.Header
    border-bottom 1px solid blue
    height 60px
    flex-shrink 0
    display flex
    flex-direction row

    .logo
        width 60px
        height 55px
        margin-top 5px
        cursor pointer
        img
            width 60px

    .screentitle
        flex auto
        text-align center
        line-height 50px
        font-size 1.2em

    .adder
        width 60px
        div
            padding-top 15px
            svg
                width 100%
                height 30px
                path, polygon
                    fill white 


