.Task
    flex auto
    display flex
    flex-direction column

    .TaskView
        flex auto
        overflow-y scroll

        h1
            color white

    .TaskEditForm
        flex auto
        overflow-y scroll
        display flex
        flex-direction column
        fieldset
            border 0
            flex auto
            label
                display block

            textarea
                width 100%
                height 450px

    .buttons
        position absolute
        top 80px
        right 0px
        margin 10px
        margin-right 20px
