.Task
    flex auto

    h1
        color white

    .summary
        margin-top 10px

    .buttons
        margin-top 20px

    .TaskEditForm
        label
            display block

        textarea
            width 400px
            height 400px
