.Task
    display flex
    flex auto
    flex-direction column

    h1
        color white

    .summary
        margin-top 10px

    .buttons
        flex auto
        margin-top 20px

    .TaskEditForm
        flex auto
        display flex
        flex-direction column
        fieldset
            flex auto
            label
                display block

            textarea
                width 100%
                height 450px
