.MailBox
    flex auto
    overflow auto

    .MailBoxItem
        display block
        padding 10px
        border-bottom 1px solid #ccc

        .participants
            span
                margin-right 10px

        .subject
            color white
            font-weight bold
            margin-top 5px
            margin-bottom 5px

        .summary
            opacity 0.5
