/* DayPicker styles */

.DayPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 1rem 0;
  user-select: none;
}

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
}

  .DayPicker-NavBar {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 .5rem;
  }

  .DayPicker-NavButton {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

    .DayPicker-NavButton--prev {
      left: 1rem;
    }
    .DayPicker-NavButton--prev::after {
        content: "<"
        font-size: 1.2em
        left: 1rem;
    }

    .DayPicker-NavButton--next {
      right: 1rem;
    }
    .DayPicker-NavButton--next::before {
        content: ">"
        font-size: 1.2em
        left: 1rem;
    }

  .DayPicker-Caption {
    display: table-caption;
    height: 1.5rem;
    text-align: center;
  }

  .DayPicker-Weekdays {
    display: table-header-group;
  }

    .DayPicker-WeekdaysRow {
      display: table-row;
    }

      .DayPicker-Weekday {
        display: table-cell;
        padding: 0.8rem;
        font-size: .875em;
        text-align: center;
        color: #8b9898;
      }

  .DayPicker-Body {
    display: table-row-group;
  }

    .DayPicker-Week {
      display: table-row;
    }

      .DayPicker-Day {
        display: table-cell;
        padding: .5rem;
        border: 1px solid #eaecec;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;
      }

  .DayPicker--interactionDisabled .DayPicker-Day {
    cursor: default;
  }

/* Default modifiers */

.DayPicker-Day--today {
  color: #d0021b;
  font-weight: 500;
}

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  background-color: #eff1f1;
}

.DayPicker-Day--outside {
  cursor: default;
  color: #dce0e0;
}

/* Example modifiers */

.DayPicker-Day--sunday {
  color: #dce0e0;
  background-color: #f7f8f8;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #FFF;
  background-color: #4A90E2;
}

/* Locales */

.DayPicker--ar {
  direction: rtl;
}
