.TaskBox
    flex auto
    overflow auto

    .actions
        display flex
        justify-content flex-end
        button
            background none
            border none
            color white
            font-size 2em
            &:focus
                outline 0

    .form
        label
            display block

    .list
        .TaskBoxItem
            display block
            padding 10px
            border 1px solid transparent
            border-bottom 1px solid #ccc
            height 86px
            overflow hidden

            &.selected
                border 1px solid red

            .date
                float right

            .participants
                span
                    margin-right 10px

            .name
                color white
                font-weight bold
                margin-top 5px
                margin-bottom 5px

            .summary
                opacity 0.5


    .Postponer

        .shader
            border 1px solid blue
            position fixed
            top 0
            left 0
            right 0
            bottom 0
            z-index 998
            background-color black
            opacity 0.7

        .PostponerInner
            position fixed
            top 0
            left 0
            right 0
            bottom 0
            z-index 999

        .centerbox
            width 320px
            height 350px
            margin auto
            margin-top 200px
            background-color black
            border 1px solid blue

            .info
                color white
                font-weight bold
                padding 10px
                text-align center

            .selectorbox
                display flex
                flex-wrap wrap
                margin-left 10px
                margin-right 10px

                .selection
                    width 88px
                    height 88px
                    border 1px solid pink
                    flex-shrink 0
                    margin 5px
