.Footer
    border-top 1px solid blue
    height 70px
    flex-shrink 0

    .TaskBoxLink
        width 60px
        height 55px
        cursor pointer
        img
            width 55px

    .screenLinks
        display flex
        align-items center
        justify-content center
        .screenLink
            border 1px solid red
            border-radius 10px
            margin 5px
            width 70px
            height 60px
            cursor pointer
            text-align center
