.Footer
    border-top 1px solid blue
    height 70px
    flex-shrink 0

    .TaskBoxLink
        width 60px
        height 55px
        cursor pointer
        img
            width 55px

    .MailBoxLink
        svg
            width 50px
            path
                fill white

    .TweetBoxLink
        svg
            width 50px
            height 45px
            path
                fill white

    .TaskBoxLink
        svg
            margin-top 5px
            width 50px
            height 40px
            path
                fill white

    .screenLinks
        display flex
        align-items center
        justify-content center
        .screenLink
            border-radius 10px
            margin 5px
            width 70px
            height 60px
            cursor pointer
            text-align center

    .version
        position fixed
        right 0
        bottom 0
        margin 5px
